body {
    font-size: 15px;
    background: white;
}

.conteiner {
    display: flex;
    max-width: 940px;
    min-width: 320px;
    height: 2px 0 2px 0;
    justify-content: center;
    align-items: center;
    margin: 55px 8px 8px 140px;
    padding: 2px 75px;
}

.icone {
    display: inline;
    padding: 0 48px;
}

.conteiner h2 {
    text-transform: uppercase;
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    width: bold;
    padding: 0 0 0 50px ;
    color: whitesmoke;
}

.conteiner p {
    font-family: Lexend Deca;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 0 2px;
    margin: 2px 45px 55px 45px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 55px 1px;
    border-radius: 5px 0 0 5px;
}

.suvs {
    background-color:hsl(184, 100%, 22%) ;
    padding: 55px 1px;
}

.luxury {
    background:hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
    padding: 55px 1px;
}

.leardsedan {
    background-color: white;
    font-size: 13px;
    border-radius: 25px;
    border: none;
    color: rgb(223, 127, 18);
    padding: 15px 40px;
    margin: 15px 0 0 45px;
}

.leardsuv {
    background-color: white;
    font-size: 13px;
    border-radius: 25px;
    border: none;
    color: hsl(184, 100%, 22%);
    padding: 15px 40px;
    margin: 15px 0 0 45px;
}

.leardluxury {
    background-color: white;
    font-size: 13px;
    border-radius: 25px;
    border: none;
    color: hsl(179, 100%, 13%);
    padding: 15px 40px;
    margin: 15px 0 0 45px;
}

.sedans button:hover {
    background-color:rgb(227, 134, 28) ;
    cursor: pointer;
    border:2px solid white;
    color: white;
    
}

.suvs button:hover {
    background-color:hsl(184, 100%, 22%);
    cursor: pointer;
    border:2px solid white;
    color: white;
}

.luxury button:hover {
    background-color:hsl(179, 100%, 13%);
    cursor: pointer;
    border:2px solid white;
    color: white;
}
